{% extends "polls/base.html"%}
{% block title %}Vote Form{% endblock %}
{% block results%}<a class="nav-link" href="{% url 'polls:results' question.id %}" class="navbar-item">Results</a>{% endblock %}
{% block content %}
    <br><br>
    <form action="{% url 'polls:vote' question.id %}" method="post">
        {% csrf_token %}
            <fieldset>
                <legend><h1>{{ question.question_text }}</h1></legend>
                {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                <br>
                <ul class="list-group">
                    {% for choice in question.choice_set.all %}
                    <li class="list-group-item list-group-item-action">
                        <input class="form-check-input me-1" type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                        <label class="form-check-label stretched-link" for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label>
                    </li>
                    {% endfor %}
                </ul>
                <br>
            </fieldset>
        <input type="submit" class="btn btn-primary" value="Vote">
    </form>
{% endblock %}
