{% extends "polls/base.html"%}
{% block title %}Vote Form{% endblock %}
{% block results%}<a class="nav-link" href="{% url 'polls:results' question.id %}" class="navbar-item">Results</a>{% endblock %}
{% block content %}
    <form action="{% url 'polls:vote' question.id %}" method="post">
        {% csrf_token %}
        <fieldset>
            <br>
            <legend><h1>{{ question.question_text }}</h1></legend>
            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
            {% for choice in question.choice_set.all %}
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                    <label class="form-check-label" for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label>
                </div>
            {% endfor %}
        </fieldset><br>
        <input type="submit" class="btn btn-primary" value="Vote">
    </form>
{% endblock %}
